body { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

h1 { text-align: center; color: white; margin-left:30px;font-family: Century Gothic;}

table.center { margin-left:auto;
               margin-right:auto;}

td { font-weight: bold;
     background: #2980B9;  /* fallback for old browsers /
background: -webkit-linear-gradient(to right, #FFFFFF, rgb(177, 234, 255), #2980B9);  / Chrome 10-25, Safari 5.1-6 /
background-color: #b5d6ff;
background-image:#5ca0f2 0%; / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


     border: 2px solid grey;
     border-collapse: collapse;
     padding: 12px; border-radius: 2px;font-family: Century Gothic;
     color: white;}

.btnNormal { background-color: white; color:;border-radius: 12px;font-family: Century Gothic;}

.btnReset { background-color:rgb(243, 94, 94); color:white;border-radius: 12px;font-family: Century Gothic;}

.btnCalc { background-color:rgb(86, 117, 255); color:white;border-radius: 12px;font-family: Century Gothic;}

#instructions { border: 3px double grey; width:850px; background-color: #b5d6ff;
background-color: #b5d6ff 0%;
background-image: #b5d6ff;
text-align: center;
color: white;
 margin-left:80px;
font-family: Century Gothic;border-radius: 12px;}
